<h1>New tipo_proy</h1>

<%= error_messages_for :tipo_proy %>

<% form_for(@tipo_proy) do |f| %>
  <p>
    <b>Descripcion</b><br />
    <%= f.text_field :descripcion %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tipo_proys_path %>
