<p>
  <b>Tipo fuente:</b>
  <%=h @fuente.tipo_fuente_id %>
</p>

<p>
  <b>Monto:</b>
  <%=h @fuente.monto %>
</p>


<%= link_to 'Edit', edit_fuente_path(@fuente) %> |
<%= link_to 'Back', fuentes_path %>